div(ng-cloak)
    md-content
        div(layout="column" layout-align="start end")
            small Advanced settings
            switch(id="advancedSettings" name="advancedSettings" ng-model="advancedSettings")
        md-tabs(md-dynamic-height, md-center-tabs, md-swipe-content)
            md-tab(label="actuators")
                //md-content(layout-padding)
                md-grid-list(
                md-cols-gt-lg="8" md-cols-lg="10" md-cols-gt-md="8" md-cols-md="4" md-cols-sm="1"
                md-row-height="2:3"
                md-gutter-gt-lg="8px" md-gutter-lg="6px" md-gutter-gt-sm="4px" )
                    md-grid-tile(ng-repeat="node in actuatorsByNode | orderBy:['devices[0].name']" ng-switch="nodeType(node)"
                    md-rowspan="{{node.row}}"
                    md-colspan="{{node.col}}"
                    style="background: rgb(33, 33, 33)"
                    )
                        div(ng-switch-when="powerNode")
                            md-grid-tile-header
                                h3 {{node.room}}
                                small(ng-if="advancedSettings") {{node.lastUpdate}}
                            md-grid-tile-content
                                img(ng-show="powerNodeState(node)" src="/img/greenwave_on.png"
                                style='width: 30%; cursor:pointer; display:block; margin: 0 auto;' ng-click="changeNode(node.devices)")
                                img(ng-hide="powerNodeState(node)" src="/img/greenwave_off.png"
                                style='width: 70%; cursor:pointer; display:block; margin: 0 auto;' ng-click="changeNode(node.devices)")
                                div(layout="row" layout-align="center center" layout-wrap)
                                    div(flex="50" ng-repeat="device in node.devices | orderBy:['name', 'data']")
                                        div(ng-if="device.data === true || device.data === false")
                                            switch(id="{{device.idx}}" name="{{device.name}}" ng-model="device.data" ng-change="change(device.idx)" style="top: 5px;display: inline-block;")
                                            .md-body-1(style="display:inline-block; line-height: 3em; vertical-align: super; padding-left: 5px;") {{device.name}}
                                        div(ng-if="isCounter(device.data.unity)" style="text-align:right;")
                                            span.md-headline {{device.data.value}} {{device.data.unity}}
                            md-grid-tile-footer
                                p(ng-if="") {{ }}
                        div(ng-switch-when="wallPlug")
                            md-grid-tile-header
                                h3 {{node.room}} - {{node.devices[0].name}}
                                small(ng-if="advancedSettings") {{node.lastUpdate}}
                            md-grid-tile-content
                                div(ng-if="node.devices[0].data === false")
                                    img(src="/img/washing_machine_off.png" style='width:75px; cursor:pointer;' ng-click="change(node.devices[0].idx)")
                                div(ng-if="node.devices[0].data === true")
                                    img(src="/img/washing_machine_on.png" style='width:75px; cursor:pointer;' ng-click="change(node.devices[0].idx)")
                            md-grid-tile-footer
                                p(ng-if="isCounter(node.devices[1].data.unity)") {{ node.devices[1].data.value }} {{ node.devices[1].data.unity }}
                        div(ng-switch-when="switch")
                            md-grid-tile-header
                                h3 {{node.room}} - {{node.name}}
                                img(ng-if="node.devices[0].data && node.camera" src="/img/close.png"
                                ng-click="change(node.idx)"
                                style="width: 14px; float: right; margin: -18px 10px 0 0; cursor: pointer;")
                                small(ng-if="advancedSettings") {{node.lastUpdate}}
                            md-grid-tile-content
                                div(ng-if="!node.devices[0].data")
                                    img(src="/img/socket_off.png" style="width:48px; cursor:pointer;" ng-click="change(node.idx)")
                                div(ng-if="node.devices[0].data && !node.camera")
                                    img(src="/img/socket_on.png" style="width:48px; cursor:pointer;" ng-click="change(node.idx)")
                                div(ng-if="node.devices[0].data && node.camera")
                                    img(src="http://192.168.0.31:8081", style="width:85%; display:block; margin: 0 auto;")
                            md-grid-tile-footer
                                p(ng-if="node.devices[0].data === false") Off
                                p(ng-if="node.devices[0].data === true") On
            md-tab(label="sensors")
                md-content.md-padding
                    div(layout="row" layout-wrap ng-repeat="room in mergeSensorDevices")
                        .md-title(flex="5") {{ room.name }}
                        div.md-body-1(layout="row" ng-repeat="device in room.devices")
                            div(ng-repeat="value in device.data track by $index")
                                md-card(ng-if="value.unity == 'C'" ng-class="{'battery_low' : device.batteryLevel < 10}")
                                    img(src="/img/temperature.png" alt="temperature" title="Update : {{device.lastUpdate}}")
                                    md-card-content
                                        span.md-headline {{ value.value }} &deg;{{ value.unity }}
                                        p.md-caption(ng-if="advancedSettings && device.batteryLevel != null") Battery: {{device.batteryLevel}}%
                                        p.md-caption(ng-if="advancedSettings") Update :{{device.lastUpdate}}
                                md-card(ng-if="value.unity == '%'" ng-class="{'battery_low' : device.batteryLevel < 10}")
                                    img(src="/img/humidity.png" alt="humidity" title="Update : {{device.lastUpdate}}")
                                    md-card-content
                                        span.md-headline {{ value.value }} {{ value.unity }}
                                        p.md-caption(ng-if="advancedSettings && device.batteryLevel != null") Battery: {{device.batteryLevel}}%
                                        p.md-caption(ng-if="advancedSettings") Update :{{device.lastUpdate}}
                                md-card(ng-if="value.unity == 'hPa'" ng-class="{'battery_low' : device.batteryLevel < 10}")
                                    img(src="/img/pressure.png" alt="pressure" title="Update : {{device.lastUpdate}}")
                                    md-card-content
                                        span.md-headline {{ value.value }} {{ value.unity }}
                                        p.md-caption(ng-if="advancedSettings && device.batteryLevel != null") Battery: {{device.batteryLevel}}%
                                        p.md-caption(ng-if="advancedSettings") Update :{{device.lastUpdate}}
                                md-card(ng-if="value.unity == 'ppm'" ng-class="{'battery_low' : device.batteryLevel < 10}")
                                    img(src="/img/co2.png" alt="co2" title="Update : {{device.lastUpdate}}")
                                    md-card-content
                                        span.md-headline {{ value.value }} {{ value.unity }}
                                        p.md-caption(ng-if="advancedSettings && device.batteryLevel != null") Battery: {{device.batteryLevel}}%
                                        p.md-caption(ng-if="advancedSettings") Update :{{device.lastUpdate}}
                                md-card(ng-if="value.unity == 'lx'" ng-class="{'battery_low' : device.batteryLevel < 10}")
                                    img(src="/img/light_on.png" alt="lux" title="Update : {{device.lastUpdate}}")
                                    md-card-content
                                        span.md-headline {{ value.value }} {{ value.unity }}
                                        p.md-caption(ng-if="advancedSettings && device.batteryLevel != null") Battery: {{device.batteryLevel}}%
                                        p.md-caption(ng-if="advancedSettings") Update :{{device.lastUpdate}}
                                md-card(ng-if="value.unity == 'dB'" ng-class="{'battery_low' : device.batteryLevel < 10}")
                                    img(src="/img/speaker_off.png" alt="sound" title="Update : {{device.lastUpdate}}")
                                    md-card-content
                                        span.md-headline {{ value.value }} {{ value.unity }}
                                        p.md-caption(ng-if="advancedSettings && device.batteryLevel != null") Battery: {{device.batteryLevel}}%
                                        p.md-caption(ng-if="advancedSettings") Update :{{device.lastUpdate}}
                            md-card(ng-if="device.switchType == 'Motion Sensor' && device.subType == 'X10'" ng-class="{'battery_low' : device.batteryLevel < 10}")
                                span(ng-if="device.data")
                                    img(src="/img/motion_on.png" alt="motion_on" title="Update : {{device.lastUpdate}}")
                                span(ng-if="!device.data")
                                    img(src="/img/motion_off.png" alt="motion_off" title="Update : {{device.lastUpdate}}")
                                md-card-content
                                    span.md-headline Recent motion
                                    p.md-caption(ng-if="advancedSettings && device.batteryLevel != null") Battery: {{device.batteryLevel}}%
                                    p.md-caption(ng-if="advancedSettings") Update :{{device.lastUpdate}}
                            md-card(ng-if="device.typeImg == 'door'" ng-class="{'battery_low' : device.batteryLevel < 10}")
                                span(ng-if="device.open")
                                    img(src="/img/front_door_opened.png" alt="motion_on" title="Update : {{device.lastUpdate}}")
                                span(ng-if="!device.open")
                                    img(src="/img/front_door_closed.png" alt="motion_on" title="Update : {{device.lastUpdate}}")
                                md-card-content
                                    span.md-headline {{device.name}}
                                    p.md-caption(ng-if="advancedSettings && device.batteryLevel != null") Battery: {{device.batteryLevel}}%
                                    p.md-caption(ng-if="advancedSettings") Update :{{device.lastUpdate}}

            md-tab(label="general")
                md-content.md-padding
                    h1.md-display-2 General
                        div(layout="row")
                            div.md-body-1(ng-repeat="room in mergeGeneralDevices")
                                .md-title {{ room.name }}
                                div.md-body-1(style="padding: 20px; width: 150px;" ng-repeat="device in room.devices")
                                    p {{ device.name }}
                                        strong {{ device.value }}{{ device.unity }}
                                    div(style="height:250px;width:250px")
                                        canvas.chart.chart-doughnut(id='{{device.idx}}',chart-legend=true, chart-data='device.data', chart-labels='device.labels')
            //md-tab(label="cameras")
            //    md-content.md-padding
            //        h1.md-display-2 Cameras
            //            div.md-body-1(layout="row")
            //                div(flex)
            //                    img(src="http://192.168.0.31:8081", style="width:275px;")